:root {
  --font-family-heading: "Fenix", "Georgia", serif;
  --font-family-body: "Libre Franklin", "Helvetica Neue", "Arial", sans-serif;
  --font-family-accent: "Indie Flower", "Comic Sans MS", cursive;
}

body {
  font-family: var(--font-family-body);
}
